<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yogesh.fragmenttest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/quizuplogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ComputerScience.ChatMainActivity" />
        <activity android:name=".ComputerScience.ChatMessage" />
        <activity android:name=".HomeAdapter.Webviewpdfpaper" />
        <activity android:name=".Quiz.QuizMenu" />
        <activity android:name=".Learn.Learn" />
        <activity android:name=".Paper.SampleQuestion" />
        <activity android:name=".HomeAdapter.Tips" />
        <activity android:name=".Quiz.StartComputer" />
        <activity android:name=".Quiz.StartPolitical" />
        <activity android:name=".Quiz.StartQuiz" />
        <activity android:name=".Quiz.StartQuizIn" />
        <activity android:name=".Quiz.ResultPlayAgain" />
        <activity android:name=".Quiz.ResultWon" />
        <activity android:name=".MainActivity"></activity>

    </application>

</manifest>